<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create</title>
</head>
<body>
   
    <form method="post" action="/admincreated">
            <div class="form-outline flex-fill mb-0">
                <input type="text" name="firstname" class="form-control" />
                <label class="form-label">First Name</label>
            </div>
            <div class="form-outline flex-fill mb-0">
                <input type="text" name="lastname" class="form-control" />
                <label class="form-label">Last Name</label>
            </div>
            <div class="form-outline flex-fill mb-0">
                <input type="text" name="username" class="form-control"/>
                <label class="form-label" for="form3Example1c">Username</label>
            </div>
            <div class="form-outline flex-fill mb-0">
                <input type="email" name="email" class="form-control"/>
                <label class="form-label">Your Email</label>
            </div>
            <div class="form-outline flex-fill mb-0">
                <input type="password" name="password" class="form-control"/>
                <label class="form-label">Password</label>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
            
    </form>
    
</body>
</html>